# we ingnore all the file at first
/*
**
# Reserve some general file
!.gitignore
!*.md
!LICENSE*

# For python and bash script
!*.py
!*.sh
!*.pl
!*.txt
!*.patch
# Some generic scripts
!/local

#config file
!/conf
!*.conf
!*.config

# some
# our code: python and bash

# our code: C++
